.wle {
    height: auto;


}

.container .card {
    position: relative;
    border: none;
    cursor: pointer;

}

.container .card .face {


    transition: 0.5s;

}

.container .card .face.face1 {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.dark {
    background-color: rgb(68, 50, 19);
}

/* ظظظظظظظظظظظظظظظظظظظظظظظظظظظظظظ */






.card:hover .face.face1 {
    background-color: rgb(235, 238, 90);
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}



.container .card .face.face1 .content h3 {
    margin: 10px 0 15px 0;
    padding: 0;
    color: rgb(117, 42, 114);
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgb(235, 238, 90);
    ;
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}







/* endmode */